*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    margin:0;
    font-size: 62.5%;
    height: 100%;    
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    line-height: 2;
    color: #000000;
}


.img1{
    background-image: url(jonatan-pie-h8nxGssjQXs-unsplash.jpg);
    background-attachment: fixed;
  
    height: 100%;
    width: 100%;
    min-height: 100%;

}
.img2{
    background-image: url(planets.jpg);
    background-attachment: fixed;
  
    
    min-height: 100%;

}
.img3{
    background-image: url(shootingstar.png);
    background-attachment: fixed;
  
    min-height: 100%;

}
.img4{
    background-image: url(neutronstar.jpg);
    background-attachment: fixed;
  
    min-height: 100%;

}
.img5{
    background-image: url(blackhole.jpg);
    background-attachment: fixed;
  
    min-height: 100%;

}

.img1 ,
.img2 ,
.img3,
.img4,
.img5{
    object-fit: cover;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.Text{
    position: absolute;
    top: 30%;
    text-align: center;
    width: 100%;
    align-items: center;
    text-transform: uppercase;
}

.lg-heading {
    font-size: 4rem;
    text-transform: uppercase;
}

.md-heading {
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 100;
}

.textBg{
    background: #0F2027;  
background: -webkit-linear-gradient(to right, #2C5364, #172b31, #0F2027); 
background: linear-gradient(to right, #2C5364, #203A43, #0F2027);

    color: rgb(185, 222, 255);
    padding: 2rem 3.5rem;
    border-radius: 0.5rem;
    font-weight: 100 ;
    line-height: 2rem;
    letter-spacing: 0.3rem;
}

.textBg1{
    background-color: #4d4855;
    background-image: linear-gradient(147deg, #4d4855 0%, #000000 74%);
    

    color: rgb(185, 222, 255);
    padding: 2rem 3.5rem;
    border-radius: 0.5rem;
    font-weight: 100 ;
    line-height: 2rem;
    letter-spacing: 0.3rem;
}

.textBg2{
    background-image: linear-gradient( 111.4deg,  rgba(7,7,9,1) 6.5%, rgba(27,24,113,1) 93.2% );
    
    color: rgb(185, 222, 255);
    padding: 2rem 3.5rem;
    border-radius: 0.5rem;
    font-weight: 100 ;
    line-height: 2rem;
    letter-spacing: 0.3rem;
}

.textBg3{
    background: #0081FC;
background: radial-gradient(circle farthest-corner at center center, #0081FC 0%, #030323 64%);

    color: rgb(185, 222, 255);
    padding: 2rem 3.5rem;
    border-radius: 0.5rem;
    font-weight: 100 ;
    line-height: 2rem;
    letter-spacing: 0.3rem;
}

.textBg4{
    background-color: #310e68;
background-image: linear-gradient(316deg, #390404 0%, #30021e 74%);

    color: rgb(185, 222, 255);
    padding: 2rem 3.5rem;
    border-radius: 0.5rem;
    font-weight: 100 ;
    line-height: 2rem;
    letter-spacing: 0.3rem;
}

.section{
    padding: 4rem  9rem;
    text-align: center;
}

.section-coloured{
    background: #0F2027;  
    background: -webkit-linear-gradient(to right, #2C5364, #172b31, #0F2027); 
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    
    color: rgb(185, 222, 255);
}
.section-coloured-dark{
    background-color: #4d4855;
background-image: linear-gradient(147deg, #4d4855 0%, #000000 74%);

    color: rgb(185, 222, 255);
}
.section-coloured-dark2{
    background-image: linear-gradient( 111.4deg,  rgba(7,7,9,1) 6.5%, rgba(27,24,113,1) 93.2% );
    color: rgb(185, 222, 255);
}
.section-coloured-dark3{
    background: #0081FC;
background: radial-gradient(circle farthest-corner at center center, #0081FC 0%, #030323 64%);

    color: rgb(185, 222, 255);
}
.section-coloured-dark4{
    background-color: #380845;
background-image: linear-gradient(316deg, #410101 0%, #100000 74%);

    color: rgb(185, 222, 255);
}

.para{
    font-size: 1.7rem;
    margin: 3rem 0;
}







footer {
    background-color: #380845;
background-image: linear-gradient(316deg, #410101 0%, #100000 74%);
    color: #fff;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.contact, .social-media {
    flex: 1;
}

.social-media ul{
    display: flex;
}
.contact h3, .social-media h3 {
    margin-bottom: 10px;
}

.contact p {
    margin: 5px 0;
}

.social-media ul {
    list-style-type: none;
    padding: 0;
}

.social-media ul li {
    display: inline;
    margin-right: 10px;
}

.social-media ul li:last-child {
    margin-right: 0;
}

.social-media img {
    width: 30px;
    height: 30px;
}
